<html>
<head>
    <title>Login</title>
</head>
<body style = "background-image: url('images/bg3.jpg')">
<div class = "top-border" style = "padding: 10px; height: 30px; width: 1500px; background-color: blue; margin-left: -10px; margin-top: -10px">
      <p class = "links" style = "color: white; font-weight: bold; font-family: Century Schoolbook L; margin-left: 600px; margin-top: 2px;"><a href = "http://127.0.0.1:5000/" style = "color: white; font-weight: bold; font-family: Century Schoolbook L;">Home</a></p>
    </div>

<div class="container" style = "position:absolute;margin-top:200px;margin-left:400px;border:2px solid blue;box-shadow:black 3px 3px;background-color:#a3d6ff;color:blue;font-family:Century Schoolbook L;font-size:20px;border-radius:4px;width:500px;height:300px;font-weight:bold">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 well">
            <form role="form" action="" method="post" name="loginform">
                <fieldset>
                    <legend>Login</legend>
                    
                    <div class="form-group">
                        <label for="name">Email</label>
                        <input type="text" name="email" placeholder="Your Email" required class="form-control" />
                    </div><br/>

                    <div class="form-group">
                        <label for="name">Password</label>
                        <input type="password" name="password" placeholder="Your Password" required class="form-control" />
                    </div><br/>

                    <div class="form-group">
                        <input type="submit" name="login" value="Login" class="btn btn-primary" />
                    </div>
                </fieldset>
            </form>
            <span class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">    
        New User? <a href="http://127.0.0.1:5000/register">Sign Up Here</a>
        </div>
    </div>
</div>

</body>
</html>
